/* GENERAL UTILITUES */

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.bar {
  height: 55px;
  width: 100%;
  align-items: center;
}

.icons {
  font-size: 2.2rem;
  color: #B5B5B5;
}

.users_icon {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.users_icon img {
  width: 100%;
}

.backgrd_color_grey {
    background-color: #EAEAEA;
}

/* flex */
.dsp_flex {
  display: flex;
}
/* line height */
.ln_height_normal {
  line-height: normal;
}

/* paddings */
.pdn_left_15 {
  padding-left: 15px;
}

/* MAIN BACKGROUND */
#main_background {
  position: absolute;
  height: 100vh;
  width: 100%;
  top:0;
  left:0;
  z-index: -1;
}

.main_background_top{
  height: 100px;
  width: 100%;
  background-color: #009688;
}

.main_background_centre{
  height: calc(100% - 100px);
  width: 100%;
  background-color: #DADBD3;
}

/* CHAT CONTAINER */
.chat_container {
  position: absolute;
  top:5%;
  left:10%;
  height: 90%;
  width: 80%;
  margin: auto;
  z-index: 1;
}

/* CHAT CONTAINER SECTIONS */

/* LEFT */
#left_section {
  height: 100%;
  width: 35%;
  background-color: red;
}
/* user bar */
.user_bar{
  padding: 2px 10px;
  justify-content: space-between;
}
.user_commands{
  width: 70%;
}
.user_command_list{
  justify-content: flex-end;
}
.user_command_list li {
  list-style: none;
  padding: 0 15px;
}

/* alert bar */
.alert_bar {
  padding: 5px;
  background-color: #8EDAFC;
}
.container_icon {
  height: 50px;
  width: 50px;
  justify-content: center;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
}
.alert_icon {
  height: 100%;
  width: 100%;
  color:#8EDAFC;
}
/* search bar */
.search_bar {
  height: 40px;
  width: 100%;
  background-color: #fff;
  padding: 5px 10px;
}

.search_label {
  width: 80px;
  text-align: center;
}

#search {
  width: calc(100% - 80px);
}
/* chat list */
.chat_list {
  height: calc(100% - 150px);
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

.contact {
  align-items: center;
  padding: 10px;
}

.contact_text {
  margin-left: 15px;
}

.contact_time {
  margin-left: auto;
  align-self: flex-start;
}






/* RIGHT */
#right_section {
  height: 100%;
  width: 65%;
}
/* chatting with */
.chatting_with {
 padding: 15px;
}

.chatting_with_text{
  margin-left: 20px;
}



.chatting_with_commands{
  margin-left: auto;
}
 .chatting_with_command_list {
   list-style: none;
 }
.chatting_with_command_list li{
  padding: 0 10px;
}


.chat_messages {
  padding:50px;
  position: relative;
  height: calc(100% - 110px);
  width: 100%;
  overflow-y: scroll;
}

.chat_messages img{
  position: absolute;
  left:0;
  top:0;
  background-repeat: repeat;
  z-index: -1;
}

.message_row{
  display: flex;
  margin: 10px 0;
}

.message_row.sent {
  justify-content: flex-end;
}
.sent{
  background-color: lightgreen;
}

.message{
  position: relative;
  max-width: 350px;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}

.message_time{
  position: absolute;
  bottom:2px;
  right:2px;
  font-size: 13px;
}
/* writer */

.chat_writer {
  justify-content: space-between;
  padding: 15px 0;
}
#input_message {
  height: 100%;
  width: 100%;
}

.chat_writer_icon {
  padding: 0 30px;
}

.send_message:hover{
  cursor: pointer;
}

/* template */
.template {
  display: none;
}
